body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

/* ==== CONTAINER ==== */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* ===== HEADER ===== */

/* = = = Mobile = = = */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: none;
}

.address {
  display: none;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-icon {
  fill: #2f2f37;
  display: block;
}

.logo-header {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  padding: 16px 0;
  display: block;
}

.logo-accent {
  color: #2e2f42;
}

/* = = = Tablet = = = */

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .page-nav {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .page-nav .header-link {
    color: #2e2f42;
  }

  .page-nav .header-link:hover,
  .page-nav .header-link:focus,
  .header-link.current {
    color: #404bbf;
  }

  .current {
    padding: 24px 0;
  }

  .header-link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link.current {
    position: relative;
  }

  .header-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address {
    display: block;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .address .header-link {
    color: #434455;
  }

  .address .header-link:hover,
  .address .header-link:focus {
    color: #404bbf;
  }

  .header-nav {
    display: flex;
  }

  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }
}

/* = = = Desktop = = = */

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .address {
    font-style: normal;
    margin-left: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .header-link {
    padding: 24px 0;
  }
}

/* ===== HERO ===== */

/* = = = Mobile = = = */

.hero-board {
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Hero-Mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-resolution: 192dpi) {
  .hero-board {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Hero-Mob@2x.jpg");
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}

.hero-title {
  max-width: 216px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-button {
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus {
  background-color: #404bbf;
}

/* = = = Tablet = = = */

@media screen and (min-width: 768px) {
  .hero-board {
    padding: 112px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero-Tab.jpg);
    max-width: 768px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero-board {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/Hero-Tab@2x.jpg");
    }
  }

  .hero-container {
    gap: 36px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }
}

/* = = = Desktop = = = */

@media screen and (min-width: 1158px) {
  .hero-board {
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    max-width: 1440px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero-board {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-bg@2x.jpg");
    }
    }

    .hero-container {
      gap: 48px;
    }

    .hero-title {
      max-width: 496px;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
    }

    .hero-button:hover {
  background-color: #404bbf;
}
  }

/* ===== BENEFITS ===== */

/* = = = Mobile = = = */

.icon {
  display: none;
}

.benefits-subtitle-first {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;
}

.benefits-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 288px;
}

.benefits {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #ffffff;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0;
  margin: 0;
}

/* = = = Tablet = = = */

@media screen and (min-width: 768px) {

.benefits-subtitle-first {
text-align:start
}

.benefits-text {
  max-width: 356px;
}

.benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
}

/* = = = Desktop = = = */

@media screen and (min-width: 1158px) {

  .icon {
    display: block;
  }

  .benefits-icons {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.benefits-subtitle-first {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: start;
}

.benefits-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}
 }

 /* ===== OUR TEAM ===== */

 /* = = = Mobile = = = */

 .team-container {
  max-width: 320px;
  padding: 0 28px;
  margin: 0 auto;
}

  .team-list-bg {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}

 .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-frame {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.background {
  background-color: #ffffff;
}

.team-feature {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0;
  margin: 0;
}

.team-subtitle {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
}

.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.team-links {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  border-top: 0;
  text-align: center;
  border-radius: 0 0 4px 4px;
  gap: 8px;
}

.team-links {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  border-top: 0;
  text-align: center;
  border-radius: 0 0 4px 4px;
  gap: 8px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-icon {
  fill: #f4f4fd;
}

.link:hover,
.link:focus {
  background-color: #404bbf;
}

.section-circle {
  width: 40px;
  height: 40px;
}

/* = = = Tablet = = = */

@media screen and (min-width: 768px) {

   .team-container {
  max-width: 768px;
  padding: 0 108px;
}

.team-feature {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-list {
    width: calc((100% - 24px) / 2);
  }
}

/* = = = Desktop = = = */

@media screen and (min-width: 1158px) {

  .team-container {
    max-width: 1158px;
      padding: 0 15px;
  margin: 0 auto;
  }

  .team-list-bg {
  padding-top: 120px;
  padding-bottom: 120px;
}

  .team-list {
    width: calc((100% - 72px) / 4);
  }

.team-feature {
  justify-content: space-between;
  gap: 24px;
  padding: 0;
  margin: 0;
}
}

/* ===== PORTFOLIO ===== */

/* = = = Mobile = = = */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantage-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0;
  margin: 0;
}

.image-cover {
  width: 288px;
  height: 280px;
}

.background {
  background-color: #ffffff;
}

.text-cover {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-list:hover .text-cover {
  transform: translate(0);
}

.portfolio-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-subtitle {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.benefits-text {
  font-weight: 400;
}

.advantage {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
  gap: 8px;
}

/* = = = Tablet = = = */

@media screen and (min-width: 768px) {

.advantage-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-list {
    width: calc((100% - 24px) / 2);
  }
}

/* = = = Desktop = = = */

@media screen and (min-width: 1158px) {

  .section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantage-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
  }

  .portfolio-list {
    flex-basis: calc((100% - 48px) / 3);
  }

  .image-cover {
  width: 360px;
  height: 300px;
}
}

/* ===== FOOTER ===== */

/* = = = Mobile = = = */

.footer-container {
  max-width: 320px;
  padding: 16px;
  margin: 0 auto;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-accent-footer {
  color: #f4f4fd;
}

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: start;
  max-width: 288px;
  margin-bottom: 72px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-link-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-icon {
  fill: #f4f4fd;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-accent-footer {
  color: #f4f4fd;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-circle {
  width: 40px;
  height: 40px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-form-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.footer-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-btn {
  margin-left: 16px;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #31d0aa;
}

.footer-input:focus {
  border: 1.5px solid #31d0aa;
}

.footer-form input:focus::placeholder {
  color: #31d0aa;
}

/* = = = Tablet = = = */

@media screen and (min-width: 768px) {

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 0 108px;
    max-width: 768px;
    margin: 0 auto;
    row-gap: 72px;
  }

  .footer-left {
    width: 264px;
    margin-right: 24px;
    align-items: start;
    text-align: start;
  }

  .footer-link-title {
    text-align: start;
  }

  .footer-text {
    margin: 0 auto;
  }

  .social-links {
    margin: 0;
  }

  .footer-input {
    width: 264px;
  }

  .footer-form-title {
    text-align: start;
  }

  .subscribe-form {
        flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}

/* = = = Desktop = = = */

@media screen and (min-width: 1158px) {

  .footer {
  padding-top: 100px;
  padding-bottom: 100px;
  }

  .footer-container {
  align-items: baseline;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer-left {
  margin-right: 120px;
}

.footer-right {
  margin-right: 80px;
}
}

/* ===== MODAL ===== */

/* = = = Mobile = = = */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 16px 16px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal-close-btn {
  top: 24px;
  right: 24px;
  padding: 0;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: #ffffff;
}

.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-info {
  margin-bottom: 8px;
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-comment textarea:focus::placeholder {
  color: #4d5ae5;
}

.form-input {
  display: block;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-field {
  width: 256px;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  border-color: #4d5ae5;
}

.input-field:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.input-comment {
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.input-comment:focus {
  border-color: #4d5ae5;
}

.checkbox-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}

.modal-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  position: relative;
  margin-right: 7.5px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-mdl:checked + .checkbox-label .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: relative;
  margin: 0;
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}




/* = = = Tablet = = = */

@media screen and (min-width: 768px), @media screen and (min-width: 1158px) {

  .modal {
  width: 408px;
  min-height: 584px;
  }

  .input-field {
  width: 360px;
  }.modal {
    padding: 72px 24px 24px 24px;
  }

  .custom-checkbox {
    margin-right: 8px;
  }
}

/* ====== MOBILE MENU ====== */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
    padding: 0;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  border: none;
  background-color: #404bbf;
}

.mobile-menu-close:hover .close-icon,
.mobile-menu-close:focus .close-icon {
  fill: #ffffff;
}

.menu-page-nav {
  font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-page-nav .menu-header-link {
  color: #2e2f42;
}

.menu-page-nav .menu-header-link:hover,
.menu-page-nav .menu-header-link:focus {
  color: #404bbf;
}

.menu-address {
  font-style: normal;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mob-menu-contacts {
  margin-bottom: 48px;
}

.menu-email {
  margin-bottom: 24px;
}

.menu-address .menu-header-link {
  color: #434455;
}

.menu-address .menu-header-link:hover,
.menu-address .menu-header-link:focus {
  color: #404bbf;
}

.menu-social-links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu-section-circle {
  width: 40px;
  height: 40px;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {

.mobile-menu {
  display: none;
}
}






